*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2),rgba(0,0,0,0.75));
  padding: 25px;
}

.app{
  background-image: url(./assets/forest-mountains-sunset-cool-weather-minimalism-wallpaper-preview.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.search-box .search-bar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 40%;
  padding: 20px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255,255,255,0.5);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.2);
}

.location-box .location{
  font-size: 30px;
  color: white;
}

